.contactsPanel {
    min-width:703px;
}
#contactName_field,
#contactSurname_field,
#contactCompany_field,
#contactEmail_field,
#contactTelephone_field {
    margin-bottom:0px
}
#contactName_field > dt,
#contactSurname_field > dt,
#contactCompany_field > dt,
#contactEmail_field > dt,
#contactTelephone_field > dt {
    display:none;
}
#contacts td {
    vertical-align: middle;
}
.deleteButtonForm {
    position: relative;
    float:right;
    width:50%;
}
.editButton {
    position:relative;
    float:left;
    padding:4px 11px 4px 11px !important;
}
.deleteButtonForm > input {
    padding:4px 4px 4px 4px;
}