@(contactList: java.util.List[Contact], contactForm: play.data.Form[Contact])
@import helper._
@main("Baza kontaktów") {
    <div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="contact_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <h3>Modal Body</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default contactsPanel">
        <div class="panel-body">
            <form method="POST">
                <legend>Kontaktów w bazie: @contactList.size().</legend>
                <div id="wrapper">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:50px">ID</th>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Nazwa firmy</th>
                                <th>Email</th>
                                <th>Nr. telefonu</th>
                            </tr>
                        </thead>
                        <tbody id="contacts">
                        @form(routes.Application.newContact()) {
                            <tr>
                                <td>
                                    -
                                </td>
                                <td>
                                    @inputText(contactForm("contactName"), '_label -> null, 'class -> "form-control", 'onchange -> "checkName()")
                                </td>
                                <td>
                                    @inputText(contactForm("contactSurname"), '_label -> null, 'class -> "form-control", 'onchange -> "checkSurname()")
                                </td>
                                <td>
                                    @inputText(contactForm("contactCompany"), '_label -> null, 'class -> "form-control", 'onchange -> "checkCompany()")
                                </td>
                                <td>
                                    @inputText(contactForm("contactEmail"), '_label -> null, 'class -> "form-control", 'onchange -> "checkEmail()")
                                </td>
                                <td>
                                    @inputText(contactForm("contactTelephone"), '_label -> null, 'class -> "form-control", 'onchange -> "checkTelephone()")
                                </td>
                                <td>
                                    <input class="btnAddContact btn btn-primary" type="submit" value="add contact">
                                </td>
                            </tr>
                        }
                        @for(contact <- contactList) {
                            <tr>
                                <td>
                                    @contact.id
                                </td>
                                <td>
                                    @contact.name
                                </td>
                                <td>
                                    @contact.surname
                                </td>
                                <td>
                                    @contact.company
                                </td>
                                <td>
                                    @contact.email
                                </td>
                                <td>
                                    @contact.telephone
                                </td>
                                <td>
                                    <a href="#" class="btn btn-info editButton" data-toggle="modal" data-target="#contact_modal">Edit</a>
                                    @form(routes.Application.deleteContact(contact.id), 'class -> "deleteButtonForm") {
                                        <input type="submit" class="btn btn-danger deleteButton" value="Delete">
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

}
